-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "AdminRole" AS ENUM ('super_admin', 'admin', 'editor');

-- CreateEnum
CREATE TYPE "ResourceType" AS ENUM ('insight', 'research', 'framework', 'playbook', 'case', 'checklist', 'tool', 'prompt', 'skill', 'workflow', 'whitepaper');

-- CreateEnum
CREATE TYPE "FileType" AS ENUM ('pdf', 'md', 'doc', 'docx', 'link', 'notion', 'zip');

-- CreateEnum
CREATE TYPE "Topic" AS ENUM ('individual', 'workflow', 'team', 'organization', 'governance');

-- CreateEnum
CREATE TYPE "Audience" AS ENUM ('ceo', 'hr', 'business', 'it', 'manager');

-- CreateEnum
CREATE TYPE "ContentCategory" AS ENUM ('insight', 'trend', 'point_of_view', 'field_note', 'research', 'whitepaper', 'playbook', 'framework');

-- CreateEnum
CREATE TYPE "NavSection" AS ENUM ('learn', 'understand', 'experience');

-- CreateEnum
CREATE TYPE "ScenarioCategory" AS ENUM ('INDIVIDUAL', 'TEAM', 'SALES', 'MARKETING', 'HR', 'SERVICE', 'MANAGEMENT');

-- CreateEnum
CREATE TYPE "ExperienceKind" AS ENUM ('INDIVIDUAL', 'ORGANIZATION', 'WORKFLOW');

-- CreateEnum
CREATE TYPE "Dimension" AS ENUM ('STRATEGY', 'PEOPLE', 'WORKFLOW', 'TECHNOLOGY', 'DATA', 'GOVERNANCE', 'ORGANIZATION');

-- CreateTable
CREATE TABLE "Admin" (
    "id" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "role" "AdminRole" NOT NULL DEFAULT 'editor',
    "lastLoginAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Admin_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Resource" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "type" "ResourceType" NOT NULL,
    "title" TEXT NOT NULL,
    "subtitle" TEXT,
    "summary" TEXT NOT NULL,
    "thumbnail" TEXT,
    "author" TEXT,
    "publishedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tags" TEXT[],
    "topic" "Topic",
    "audience" "Audience"[],
    "industry" TEXT[],
    "relatedServices" TEXT[],
    "fileUrl" TEXT,
    "fileType" "FileType" NOT NULL,
    "fileName" TEXT,
    "fileSize" TEXT,
    "pages" INTEGER,
    "cover" TEXT,
    "viewCount" INTEGER NOT NULL DEFAULT 0,
    "downloadCount" INTEGER NOT NULL DEFAULT 0,
    "isFeatured" BOOLEAN NOT NULL DEFAULT false,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "Resource_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Content" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "category" "ContentCategory" NOT NULL,
    "title" TEXT NOT NULL,
    "subtitle" TEXT,
    "excerpt" TEXT NOT NULL,
    "cover" TEXT,
    "content" TEXT NOT NULL,
    "contentHtml" TEXT NOT NULL,
    "author" TEXT,
    "publishedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "readingTime" INTEGER,
    "tags" TEXT[],
    "relatedIds" TEXT[],
    "index" TEXT,
    "nodeSlug" TEXT,
    "navSection" "NavSection" NOT NULL DEFAULT 'learn',
    "sourceUrl" TEXT,
    "sourcePlatform" TEXT,
    "isPublished" BOOLEAN NOT NULL DEFAULT false,
    "publishedBy" TEXT,
    "viewCount" INTEGER NOT NULL DEFAULT 0,
    "likeCount" INTEGER NOT NULL DEFAULT 0,
    "seriesId" TEXT,
    "subTopicId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "Content_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Case" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "company" TEXT NOT NULL,
    "industry" TEXT NOT NULL,
    "scale" TEXT,
    "title" TEXT NOT NULL,
    "before" TEXT NOT NULL,
    "intervention" TEXT NOT NULL,
    "after" TEXT NOT NULL,
    "next" TEXT,
    "metrics" JSONB,
    "testimonial" JSONB,
    "coverImage" TEXT,
    "isPublished" BOOLEAN NOT NULL DEFAULT true,
    "publishedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "Case_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "HomeConfig" (
    "id" TEXT NOT NULL,
    "key" TEXT NOT NULL,
    "payload" JSONB NOT NULL,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "updatedBy" TEXT,

    CONSTRAINT "HomeConfig_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AssessmentSubmission" (
    "id" TEXT NOT NULL,
    "userAgent" TEXT,
    "ip" TEXT,
    "answers" JSONB NOT NULL,
    "result" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AssessmentSubmission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Scenario" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "category" "ScenarioCategory" NOT NULL,
    "title" TEXT NOT NULL,
    "subtitle" TEXT,
    "heroDesc" TEXT,
    "icon" TEXT,
    "problem" TEXT NOT NULL,
    "beforeSteps" TEXT[],
    "afterSteps" TEXT[],
    "prompts" TEXT[],
    "resourceSlugs" TEXT[],
    "ownerContactEnabled" BOOLEAN NOT NULL DEFAULT true,
    "tags" TEXT[],
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "publishedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "Scenario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExperienceMap" (
    "id" TEXT NOT NULL,
    "kind" "ExperienceKind" NOT NULL,
    "slug" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "subtitle" TEXT,
    "heroDesc" TEXT,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "ExperienceMap_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ExperienceStage" (
    "id" TEXT NOT NULL,
    "mapId" TEXT NOT NULL,
    "stage" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "characteristics" TEXT[],
    "painPoints" TEXT[],
    "actions" TEXT[],
    "resourceSlugs" TEXT[],
    "serviceLinks" JSONB,
    "details" JSONB,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ExperienceStage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AssessmentQuestion" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "dimension" "Dimension" NOT NULL,
    "text" TEXT NOT NULL,
    "description" TEXT,
    "options" JSONB NOT NULL,
    "weight" DOUBLE PRECISION NOT NULL DEFAULT 1,
    "stage" TEXT,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AssessmentQuestion_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Series" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "navSection" "NavSection" NOT NULL,
    "title" TEXT NOT NULL,
    "en" TEXT,
    "desc" TEXT,
    "cover" TEXT,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "isPublished" BOOLEAN NOT NULL DEFAULT true,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "deletedAt" TIMESTAMP(3),

    CONSTRAINT "Series_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SubTopic" (
    "id" TEXT NOT NULL,
    "seriesId" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SubTopic_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AiTool" (
    "id" SERIAL NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "icon" TEXT NOT NULL DEFAULT '馃',
    "category" TEXT NOT NULL,
    "accessType" TEXT NOT NULL DEFAULT 'GLOBAL',
    "priceType" TEXT NOT NULL DEFAULT 'FREEMIUM',
    "description" TEXT NOT NULL,
    "tags" TEXT NOT NULL DEFAULT '[]',
    "isFeatured" BOOLEAN NOT NULL DEFAULT false,
    "sortOrder" INTEGER NOT NULL DEFAULT 0,
    "clickCount" INTEGER NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AiTool_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AiToolSubmission" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "reason" TEXT,
    "email" TEXT,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "reviewerId" TEXT,
    "reviewNote" TEXT,
    "reviewedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AiToolSubmission_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Admin_username_key" ON "Admin"("username");

-- CreateIndex
CREATE UNIQUE INDEX "Admin_email_key" ON "Admin"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Resource_slug_key" ON "Resource"("slug");

-- CreateIndex
CREATE INDEX "Resource_type_deletedAt_idx" ON "Resource"("type", "deletedAt");

-- CreateIndex
CREATE INDEX "Resource_publishedAt_idx" ON "Resource"("publishedAt");

-- CreateIndex
CREATE INDEX "Resource_isFeatured_sortOrder_idx" ON "Resource"("isFeatured", "sortOrder");

-- CreateIndex
CREATE UNIQUE INDEX "Content_slug_key" ON "Content"("slug");

-- CreateIndex
CREATE INDEX "Content_category_isPublished_deletedAt_idx" ON "Content"("category", "isPublished", "deletedAt");

-- CreateIndex
CREATE INDEX "Content_publishedAt_idx" ON "Content"("publishedAt");

-- CreateIndex
CREATE INDEX "Content_nodeSlug_idx" ON "Content"("nodeSlug");

-- CreateIndex
CREATE INDEX "Content_navSection_isPublished_deletedAt_idx" ON "Content"("navSection", "isPublished", "deletedAt");

-- CreateIndex
CREATE INDEX "Content_seriesId_subTopicId_idx" ON "Content"("seriesId", "subTopicId");

-- CreateIndex
CREATE UNIQUE INDEX "Case_slug_key" ON "Case"("slug");

-- CreateIndex
CREATE INDEX "Case_isPublished_deletedAt_sortOrder_idx" ON "Case"("isPublished", "deletedAt", "sortOrder");

-- CreateIndex
CREATE UNIQUE INDEX "HomeConfig_key_key" ON "HomeConfig"("key");

-- CreateIndex
CREATE INDEX "AssessmentSubmission_createdAt_idx" ON "AssessmentSubmission"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "Scenario_slug_key" ON "Scenario"("slug");

-- CreateIndex
CREATE INDEX "Scenario_category_isActive_deletedAt_sortOrder_idx" ON "Scenario"("category", "isActive", "deletedAt", "sortOrder");

-- CreateIndex
CREATE UNIQUE INDEX "ExperienceMap_slug_key" ON "ExperienceMap"("slug");

-- CreateIndex
CREATE INDEX "ExperienceMap_kind_isActive_deletedAt_idx" ON "ExperienceMap"("kind", "isActive", "deletedAt");

-- CreateIndex
CREATE INDEX "ExperienceStage_mapId_sortOrder_idx" ON "ExperienceStage"("mapId", "sortOrder");

-- CreateIndex
CREATE UNIQUE INDEX "AssessmentQuestion_slug_key" ON "AssessmentQuestion"("slug");

-- CreateIndex
CREATE INDEX "AssessmentQuestion_dimension_isActive_sortOrder_idx" ON "AssessmentQuestion"("dimension", "isActive", "sortOrder");

-- CreateIndex
CREATE UNIQUE INDEX "Series_slug_key" ON "Series"("slug");

-- CreateIndex
CREATE INDEX "Series_navSection_isPublished_deletedAt_sortOrder_idx" ON "Series"("navSection", "isPublished", "deletedAt", "sortOrder");

-- CreateIndex
CREATE INDEX "SubTopic_seriesId_sortOrder_idx" ON "SubTopic"("seriesId", "sortOrder");

-- CreateIndex
CREATE UNIQUE INDEX "SubTopic_seriesId_slug_key" ON "SubTopic"("seriesId", "slug");

-- CreateIndex
CREATE UNIQUE INDEX "AiTool_name_key" ON "AiTool"("name");

-- CreateIndex
CREATE UNIQUE INDEX "AiTool_slug_key" ON "AiTool"("slug");

-- CreateIndex
CREATE INDEX "AiTool_category_idx" ON "AiTool"("category");

-- CreateIndex
CREATE INDEX "AiTool_accessType_idx" ON "AiTool"("accessType");

-- CreateIndex
CREATE INDEX "AiTool_isFeatured_idx" ON "AiTool"("isFeatured");

-- CreateIndex
CREATE INDEX "AiTool_status_idx" ON "AiTool"("status");

-- CreateIndex
CREATE INDEX "AiTool_createdAt_idx" ON "AiTool"("createdAt");

-- CreateIndex
CREATE INDEX "AiToolSubmission_status_idx" ON "AiToolSubmission"("status");

-- CreateIndex
CREATE INDEX "AiToolSubmission_createdAt_idx" ON "AiToolSubmission"("createdAt");

-- AddForeignKey
ALTER TABLE "Content" ADD CONSTRAINT "Content_seriesId_fkey" FOREIGN KEY ("seriesId") REFERENCES "Series"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Content" ADD CONSTRAINT "Content_subTopicId_fkey" FOREIGN KEY ("subTopicId") REFERENCES "SubTopic"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ExperienceStage" ADD CONSTRAINT "ExperienceStage_mapId_fkey" FOREIGN KEY ("mapId") REFERENCES "ExperienceMap"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SubTopic" ADD CONSTRAINT "SubTopic_seriesId_fkey" FOREIGN KEY ("seriesId") REFERENCES "Series"("id") ON DELETE CASCADE ON UPDATE CASCADE;

